

*{margin: 0;
padding: 0;
box-sizing:border-box ;
font-family: "Poppins", sans-serif;
}

:root{
   --body-color:#E4E9F7;
   /* --nav-color:#4070F4; */
   --nav-color:rgb(229,9,20);
   --side-nav:#010718;
   --text-color:#FFF;
   --search-bar:#F2F2F2;
   --search-text:#010718;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333333; */
  background-color:rgb(229,9,20);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
}

.logo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 10px ;
  
}

/*search section */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
}

#searchInput {
  padding: 8px;
  width: 80%;
  font-size: 1.1rem;
  border-radius:  5px;
  border: 1px solid #ccc;
}

.search-btn {
  padding: 10px 20px;
  color: #000107;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius:5px;
  cursor: pointer;
  margin-left: 10px;
}

.search-btn:hover {
  border:2px solid rgb(229, 9, 20);
  color:  rgb(229, 9, 20) ;
  font-weight: 600;
  /* background: none; */
  font-weight: 500;
  padding: 10px 20px;
}


/* nav -item list */

.nav-links li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: normal;
  /* transition: color 0.3s; */
}

.nav-links li a:hover {
  /* color: #fafafa; */
  border: 2px solid rgb(240, 239, 239);
  padding: 8px 15px;
  color: rgb(255, 255, 255); 
   border-radius: 8px;
   box-shadow: rgb(229,9,20);
}

.login a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px 15px;
  background-color: rgb(255, 255, 255);; /* Tomato background */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.login a:hover {
  background-color: #fff;
  /* color: #ff6347; */
  color: rgb(229,9,20);
}




   


/* contect section for css */
.content .title span{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 1px;
  position: relative;
}

.content{
  width: 80%;
  margin: 5px auto;
  padding: 6px;
  /* background-color: red; */
  font-family:  "Poppins", sans-serif;
}

 .contect .content{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
 }

 .contect .content .left-side{
  width: 25%;
  height: 100%;
  position: relative;
 }
 
 .contect .left-side .details{
  margin:14px ;
  text-align: center;
 }
 .contect .left-side .details i{
  font-size: 25px;
  color: rgb(229,9,20);
  margin-bottom: 10px;
 }
 .contect .left-side .details .topic{
  font-size: 23px;
  font-weight: 500;
  padding-bottom: 4px;
  position: relative;
 }
 
 .topic-text{
  font-size: 23px;
  font-weight: 600;
  /* color: #4070F4; */
  margin-bottom: 20px;
 }
 .contect .contact .right-side{
  width:75%;
  margin-left: 75px;
 }
 .right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;

 }
 .right-side .input-box input,
 .right-side .input-box  textarea{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 0 15px;
  background: #d4d6dd;
  border-radius: 6px;
 }
 
 .right-side .message-box{
  min-height: 310px;
 }
.right-side .button input[type="button"]{
  outline: none;
  color: var(--text-color);
  background-color: var(--nav-color);
  font-size: 20px;
  font-weight: 500;
  padding: 6px 14px;
  margin-top: 8px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4 ease;
}
.right-side .button input[type="button"]:hover{
  color: var(--nav-color);
  background-color: var(--search-bar);
  border-color: var(--nav-color);
}